@import '../../colors.styl'
.container
    display flex
    justify-content center
    margin 8px

.card-content-inline
    display grid
    grid-template-columns 70% 20% 10%

tr.mat-row:hover
    background-color $accent

table
    width 100%
    max-width 458px

th.mat-header-cell, td.mat-cell
    padding: 4px

button.mat-mini-fab.mat-button-base
    margin 8px

div.roll-button
    display flex
    justify-content flex-end
    margin-top 16px