<div class="container">
    <form [formGroup]="tableForm" (ngSubmit)="onSubmit(tableForm.value)">
    <mat-card>
        <div class="title-bar">
            <mat-card-title [className]="isEditing ? 'hidden' : 'mat-card-title'">{{ tableData.name }}</mat-card-title>
            <div [className]="!isEditing ? 'hidden' : 'table-title'">
                <mat-form-field appearance="outline">
                    <input matInput formControlName="tableName" (keydown)="onTableNameKeypress($event, tableForm.value.tableName)">
                </mat-form-field>
            </div>
            <fa-icon [icon]="faPen" (click)="isEditing = true"  [className]="isEditing ? 'hidden' : 'ng-fa-icon'"></fa-icon>
            <fa-icon [icon]="faCheck" (click)="finishEditingName(tableForm.value.tableName)"  [className]="!isEditing ? 'hidden' : 'ng-fa-icon'"></fa-icon>
            <fa-icon [icon]="faTrashAlt" (click)="deleteTable()"></fa-icon>
        </div>
            <mat-card-content>
                <div class="card-content-inline">
                    <mat-form-field appearance="outline">
                        <mat-label>Item</mat-label>
                        <input matInput formControlName="description">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Weight</mat-label>
                        <input type="number" matInput formControlName="weight">
                    </mat-form-field>
                    <button mat-mini-fab color="accent" aria-label="Add table item button with plus sign">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="table-container">
                    <table mat-table [dataSource]="tableData.items" class="mat-elevation-z8"
                        cdkDropList
                        [cdkDropListData]="tableData.items"
                        (cdkDropListDropped)="dropTable($event)">
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <!-- <td mat-cell *matCellDef="let element" (click)="onTableRowClick(element)"> {{element.position}} </td> -->
                            <td mat-cell *matCellDef="let element" (click)="onTableRowClick(element)"> {{element.position}} </td>
                        </ng-container>
                        <ng-container matColumnDef="weight">
                            <th mat-header-cell *matHeaderCellDef> Wt. </th>
                            <td mat-cell *matCellDef="let element" (click)="onTableRowClick(element)"> {{element.weight}} </td>
                        </ng-container>
                        <ng-container matColumnDef="item">
                            <th mat-header-cell *matHeaderCellDef> Item </th>
                            <td mat-cell *matCellDef="let element" (click)="onTableRowClick(element)"> {{element.description}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></tr>
                    </table>
                </div>
                <div class="roll-button">
                    <button type="button" mat-flat-button color="primary" [disabled]="tableData.items.length == 0" (click)="onRollClick()">Roll</button>    
                </div>
            </mat-card-content>
        </mat-card>
    </form>
</div>