.container
    display flex
    justify-content center

.card-content-inline
    display grid
    grid-template-columns 80% 20%

button.mat-mini-fab.mat-button-base
    margin 8px

.tables
    display: flex
    flex-wrap: wrap