@import '../colors.styl'
.gm-toolbar
    background-color $primary;
    color $primary-text;
    padding 16px;
    margin-bottom 1em;
.roll-history-container
    width 80%
.roll-history
    height 300px